*{
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  /* background-color: #282c34; */
  font-size: calc(10px + 2vmin);
  color: white;
}

table, th, td {
  padding: 1em 2em;
  border-collapse: collapse;
  border: 2px solid #282c34; 
  background-color: teal;
}
table {
  width:  50%;
  margin: 0 auto;
  border: 2px solid teal;
}
tr, td {
background-color: whitesmoke;
color: #282c34;
}

button {
 padding: 1em 2em;
  font-size: 1em;
  background-color: teal;
  color: aliceblue;
  font-weight: 700;
  border: transparent;
}
.controls {
  display: flex;
 justify-content: space-around;
 margin-top: 7em;
}
h1, label {
  color: #282c34;
}
label, input {
  font-size: 1em;
}
input {
  border: 2px solid teal;
  display: inline-block;
  width: 13em;
  padding: 0.5em;
  margin: 2em 1em;
}
form > label {
  display: block;
}
.add {
  border-radius: 70%;
  width: 3em; height: 3em;
  padding: 0%;
  background-color: #d63447;
  position: fixed;
  bottom: 8%;
  right: 1%;
}
@media only screen and (max-width: 800px) {
  
  .add { 
    bottom: calc(100vh - 63vh);
  }
}
@media (min-width: 800px) and (max-width: 1000px){
  .add {
    bottom: calc(100vh - 78vh);
  }
 }